
body{
    font-family: sans-serif !important;
    line-height: 1.7;
    color: #516171 !important;
}

/*NAVBAR STYLE*/
.custom-mainnav-style{
    background: #1a681a !important;  
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);  
}

.custom-navlink-account{
    background-color: #c5c9c55e;
    color: #000;
    border-radius: 3px;
    margin-left: 5px;
}

.custom-navlink-account:hover{
    background-color: #577757b9;
    color: #000;
    border-radius: 20px;
}
/*NAVBAR STYLE END*/


/*CAROUSEL STYLE*/
.custom-carousel-style{
    
}

.carousel-caption p{
    text-transform: capitalize;
}

.custom-carousel-item{
    height: 90vh;
}

.custom-carousel-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.4);
}

.custom-carousel-caption{
    margin-top: 200px !important;
    color: #ffffffd5;
}
.custom-carousel-caption p{
    font-size: 30px;
    font-weight: bold;
}
.custom-carousel-caption h5{
    font-size: 60px;
    font-weight: bolder;
}

@media screen and (max-width: 567px) {
    #offcanvasNavbar{
        background-color: #666565 !important;
    }
    .custom-navlink-account {
        padding-left: 30%;
        margin-bottom: 15px;
        font-weight: bold;
        color: #fff;
    }
    .custom-navlink-account:hover{
        background-color: #f7f3f396;
    }
    
    .custom-search-navbar{
        display: flex;
        width: 100%;
    }

    .custom-search-navbar button{
        background-color: #0f680f;
        border: none;
        color: #fff;
    }

    .custom-carousel-caption{
        margin-top: 100px !important;
        color: #ffffffd5;
    }
    .custom-carousel-caption p{
        font-size: 20px;
        font-weight: bold;
    }
    .custom-carousel-caption h5{
        font-size: 40px;
        font-weight: bolder;
    }
}
/*CAROUSEL STYLE END*/

/*PRODUCT IMAGE CARD*/
.custom-img-card{
    height: 160px;
    width: 145px;
    margin: auto
}

.custom-card-container{
    background-color: #00000023;
}

.custom-card{
    padding-top: 10px;
    justify-content: center;
    transition: all 0.3s;
}

.custom-card:hover{
    transform: scale(1.15);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.144);
}
/*PRODUCT IMAGE CARD END*/

/*STICK-BG*/
.stick-gb{
    background-image: url("../images/bg-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    min-width: 100%;
    position: relative;
    background-attachment: fixed;
    box-shadow: 50px -50px 50px rgba(0, 0, 0, 0.144);
}

.stick-bg-over{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0, 224, 254, 0.7), rgba(17,7,254,0.7));
}

.custom-text-center{
    margin-top: 200px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px !important;
}
/*STICK-BG END*/

/*QUOTES*/
.custom-quote-section{
    color: #000;
}

.custom-quote-btn{
    color: #fff;
    background-color: #0f680f;
    padding: 3px;
    width: 100px;
    text-align: center;
    border-radius: 2px;
    margin-top: 0;
}

.custom-quote-btn:hover{
    background-color: #497c49;
    color: #fff;
}
/*QUOTES END*/

/*OUR MISSION*/
.custom-our-team{
    background-color: #ebeaea;
    padding: 50px 0;
}

.custom-text-value{
    color: #000;
    font-weight: bold;
}

.custom-our-team img{
    height: 60px !important;
    width: 60px;
    border-radius: 100px;
    margin: 10px 0 0 17px;
}
/*OUR MISSION END*/

/*STICK-BG*/
.custom-advert-gb{
    background-image: url(../images/cover_v3.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 350px;
    min-width: 100%;
    position: relative;
    background-attachment: fixed;
}
/*STICK-BG END*/

/*TESTIMONIES*/
.testimonies{
    width: 100%;
    margin: 70px 0 50px 0;
    padding-left: 30px;
}

@media screen and (max-width: 567px) {
    .custom-testimoni-row{
        gap: 50px;
        width: 100%;
        height: 180vh !important;
    }

    .custom-testimoni-card{
        height: 250px !important;
        width: 100% !important;
        background-color: #f0f0f080;
    }

    .custom-testimoni-cardbody {
        position: relative;
        padding-top: 150px;
    }

    .testimoni-img{
        position: absolute;
        top: -30px;
        height: 60px;
        width: 60px;
        border-radius: 50px;
    }

}

.custom-testimoni-row{
    width: 100%;
}

.custom-testimoni-card{
    height: 200px;
    width: 100%;
    background-color: #f0f0f080;
}

.custom-testimoni-cardbody {
    position: relative;
    padding-top: 50px;
}

.testimoni-img{
    position: absolute;
    top: -30px;
    height: 60px;
    width: 60px;
    border-radius: 50px;
}
/*TESTIMONIES END*/

/*SPONSOR*/
@keyframes sponsor-logos {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.sponsor-logo{
    background-color: #f7f7f7;
    overflow: hidden;    
    white-space: nowrap;
}

.sponsor-logo:hover .sponsor-row{
    animation-play-state: paused;
}

.sponsor-row{
    animation: sponsor-logos 15s infinite linear;
}

.sponsor-row img{
    width: 100px;
    height: 100px;
    margin: 0 40px;
}
/*SPONSOR END*/

/*FOOTER*/
.custom-footer-col li{
    list-style: none;    
}

.custom-footer-col li a{
    text-decoration: none;
    color: #fff;
}

.custom-footer-col li a:hover{
    color: #000;
    font-size: 16px;
}

.footer-main{

    background-color: #155009;
    width: 100%;
    padding: 5px 0 15px 0;
    font-size: 14px;
    margin-top: 30px;
    color: #fff;
    text-align: center;
}

.divider{
    width: 100%;
    height: 1px;
    background-color: #fff;
    margin: 30px 0;
}

/*FOOTER*/
